#/*
#*********************************************************************************************************
#*                                                    MELIS
#*                                    the Easy Portable/Player Develop Kits
#*                                               makefile Module
#*
#*                                    (c) Copyright 2006-2010, kevin.z China
#*                                             All Rights Reserved
#*
#* File    : make.cfg
#* By      : kevin.z
#* Version : v1.0
#* Date    : 2010-9-3 9:39
#* Descript:
#* Update  : date                auther      ver     notes
#*********************************************************************************************************
#*/


ROOT    = .
SDKROOT = $(ROOT)/..


#���뽻�������ͨ������
include $(SDKROOT)/config/ARMCC_CROSSTOOL.CFG


#ͷ�ļ�·���б�
INCLUDES        =   -I$(ROOT)                               \
                    -I$(SDKROOT)/config                     \
                    -I$(SDKROOT)/boot1/include/interinc     \
                    -I$(SDKROOT)/boot1/include              \
					-I$(SDKROOT)/source/init_dram


LINK_SCT        = --scatter=$(ROOT)/config/config.sct

#���ļ��б�
LIBS            =
TARGET      	= $(WORKSPACEPATH)/efex/usb/fes_1-2.fex
TARGET1         = $(LICHEEPATH)/efex/usb/fes_1-2.fex
LOCALTARGET 	= __fes1.axf


#�������ɵ�Ŀ���ļ�(���/����)
TMPTARGET   = $(ROOT)/fes1_origin.bin

#�г��ù����µ����а���Դ�������Ŀ¼
SRCDIRS     :=  $(SRCDIRS)                                  \
            $(ROOT)                                         \
			$(SDKROOT)/source/init_dram

INCLUDES    :=  $(INCLUDES)                         \
				$(foreach dir,$(SRCDIRS),-I$(dir))


ifeq ($(CROSSTOOL), ARMRVDS)

#===============================================================================
#ʹ��RVDS������
#===============================================================================
#�������ӽű�
LINK_SCT   := $(LINK_SCT)
#��������չ����
CFLAGS     := $(CFLAGS) -O2 --debug
CFLAGS     := $(CFLAGS) $(INCLUDES)
#�������չ����
ASFLAGS    := $(ASFLAGS) --debug --keep
ASFLAGS    := $(ASFLAGS) $(INCLUDES)
#��������չ����
LKFLAGS    := $(LKFLAGS) $(LINK_SCT)
#��������չ����
LDFLAGS    := $(LDFLAGS) --bin --output

else

#===============================================================================
#ʹ��GNU-GCC������
#===============================================================================
error:
	$(error GNU Cross-tool is invalid now!!!)

endif

